<div class="entire_page">
  <div class="title">  
    <h1>List of Winds</h1>
  </div>

<p></p>

  <div class="table">
    <table border="1">
      <tr>
        <td>
          <div class="title">
            <div class="text">
              Wind Direction
            </div>
          </div>
        </td>
        <td>
          <div class="title">
            <div class="text">
              Details
            </div>
          </div>
        </td>
      </tr>
      <% @list_of_winds.each do |a_wind|%>
      <tr>
        <td>
          <div class="text">
            <%= a_wind.wind_direction %>
          </div>
        </td>
        <td>
          <div class="text">
            <a href="/winds/<%= a_wind.wind_direction_id %>">Show details
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
