<div class="title">
  <h1>Gills Stoneboro</h1>
</div>

<div class="notice_2">
  <p><%= notice %></p>
</div>

<hr>

<div class="header">
  <h1>Northern Map</h1>
</div>
<img src="Gills_Stoneboro_North_Map.png" alt="Gills Stoneboro Map" class="property-map">
<div class="header">
  <h1>Southern Map</h1>
</div>
<img src="Gills_Stoneboro_South_Map_2.png" alt="Gills Stoneboro Map" class="property-map">
