<h1>List of Stands</h1>

<table border="1">
  <tr>
    <td>Stand ID</td>
    <td>Stand Name</td>
    <td>Details</td>
  </tr>
  <% @list_of_stands.each do |a_stand|%>
  <tr>
    <td><%= a_stand.stand_id %></td>
    <td><%= a_stand.stand_name %></td>
    <td>
      <a href="/stands/<%= a_stand.stand_id %>">Show details
    </td>
  </tr>
  <% end %>
</table>
