<div class ="entire_page">
  <div class="title"> 
    <h1>List of Crops</h1>
  </div>

<div class="notice_2">
  <p><%= notice %></p>
</div>

  <div class="form">
    <form action="/insert_crop">

      <label for="crop_type">Crop Type</label>
      <input id="crop_type" name="query_crop_type">

      <button>
        <div class="button">
          Add Crop
        </div>
      </button>
    </form>
  </div> 

    <p></p>

  <div class="table">
    <table border="1">
      <tr>
        <td>
          <div class="title">
            <div class="text">
              Crop
            </div>
          </div>  
        </td>
        <td>
          <div class="title">
            <div class="text">
              Details
            </div>
          </div>  
        </td>
      </tr>
      <% @list_of_crops.each do |a_crop|%>
        <% if a_crop.stands.at(0) != nil %>
          <tr>
            <td>
              <div class="text">
                <%= a_crop.crop_type %>
              </div>
            </td>
            <td>
              <div class="text">
                <a href="/crops/<%= a_crop.crop_id %>">Show details
              </div>
            </td>
          </tr>
        <% else %>
        <% end%>
      <% end %>
    </table>
  </div>
</div>
