<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <style>
      a{
        color: yellow;
      }
      
      body{
        background-color: #55423d;
        color: white;
      }
      
      .property-map {
        border: thin black solid;
      }

       .entire_page {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        flex-grow: 1;
      }

      .title {
        color: #ffc6c7;
        display: flex;
        justify-content: center;
      }

      .form{
        display: flex;
        justify-content: center;
      }

      .table{
        display: flex;
        justify-content: center;
      }
    </style>

  </head>

  <body>
    <nav>
      <div><a href="/">Home</a></div>
      <div><a href="/stands">All Stands</a></div>
      <div><a href="/winds">Choosing a stand to hunt based on wind</a></div>
      <div><a href="/crops">Choosing a stand to hunt based on crops</a></div>
      <hr>
    </nav>
    <%= yield %>
  </body>
</html>
